<div class="container-album" id="container-album">
    <div class="card text-white bg-secondary mb-3 container-album" style="max-width: 26rem; overflow: hidden">
        <div class="card-header">
            <img src="{% if album.image is not null %}
                {% set src =  album.image|instanceOf('Symfony\\Component\\HttpFoundation\\File\\File')? album.image.basename:album.image %}
                {{ asset('img/photos/album/' ~ src) }}
                {% else %}
                {{ asset('img/photos/album/cd-rom-4093712_1920.png') }}
                {% endif %}
                " class="image-album float-right">
            <h5 id="album-titre"><a href="{{ path('modifier_album', {'id': album.id}) }}">{{ album.nom }}</a></h5>
        </div>
        <div class="card-body">
            <audio id="audio" preload="none" tabindex="0">

            </audio>
            <div class="player">
                <div class="large-toggle-btn">
                    <i class="large-play-btn"><span class="screen-reader-text">Large toggle button</span></i>
                </div>
                <!-- /.play-box -->

                <div class="info-box">
                    <div class="track-info-box">
                        <div class="track-title-text"></div>
                        <div class="audio-time">
                            <span class="current-time">00:00</span> /
                            <span class="duration">00:00</span>
                        </div>
                    </div>
                    <!-- /.info-box -->

                    <div class="progress-box">
                        <div class="progress-cell">
                            <div class="progress">
                                <div class="progress-buffer"></div>
                                <div class="progress-indicator"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.progress-box -->

                <div class="controls-box">
                    <i class="previous-track-btn disabled"><span
                                class="screen-reader-text">Previous track button</span></i>
                    <i class="next-track-btn"><span class="screen-reader-text">Next track button</span></i>
                </div>
                <!-- /.controls-box -->
                <!-- /.player -->


            </div>
            <div class="play-list">
                {% for track in album.tracks %}
                    {% dump track.ordreAlbum %}
                    <div class="play-list-row" data-track-row="{{ track.ordreAlbum }}">
                        <div class="small-toggle-btn">
                            <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
                        </div>
                        <div class="track-number"> {{ track.ordreAlbum }}.</div>
                        <div class="track-title">
                            <a class="playlist-track" href="#"
                               data-play-track="{{ track.ordreAlbum }}" title="{{ track.titre }}">{{ track.titre }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
